<!DOCTYPE html>
  <html>
  <head>
    <title>fast fantasy football</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- Google API - Don't Move -->
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </head>
  <body data-no-turbolink>
    <!-- NAV BAR -->
    <%= render 'layouts/nav' %> 
    <div ng-app="fffApp">
    <div ng-controller="fff">
        <!-- sidebar -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 col-md-2 sidebar">
          <ul class="nav nav-sidebar nav-pills nav-stacked">
            <!-- <li><#%=link_to 'Overview', home_path %></li> -->
            <!-- <li><%#=link_to 'Quarterback', qb_path %></li> -->
            <!-- <li><%#=link_to 'Running Back', rb_path %></li> -->
            <!-- <li><%#=link_to 'Wide Receiver', wr_path %></li> -->
            <!-- <li><%#=link_to 'Tight End', te_path %></li> -->
            <!-- <li><%#=link_to "Defense / Special Teams", def_path %></li> -->
            <!-- <li><%#=link_to 'Kicker', kkr_path %></li> -->
            <li class="<%= 'active' if params[:controller] == 'home'%>"><a href="/home">Home</a></li>
            <li class="<%= 'active' if params[:controller] == 'qb'%>"><a href="/qb">Quarterback</a></li>
            <li class="<%= 'active' if params[:controller] == 'rb'%>"><a href="/rb">Running Back</a></li>
            <li class="<%= 'active' if params[:controller] == 'wr'%>"><a href="/wr">Wide Receiver</a></li>
            <li class="<%= 'active' if params[:controller] == 'te'%>"><a href="/te">Tight End</a></li>
            <li class="<%= 'active' if params[:controller] == 'def'%>"><a href="/def">Defense / Special Teams</a></li>
            <li class="<%= 'active' if params[:controller] == 'kkr'%>"><a href="/kkr">Kicker</a></li>
          </ul>
        </div>
        <div class="col-md-10">
          <%= yield %>
        </div>  
    </div> <!-- end of row -->
  </div> <!-- End of container -->

    <%= render 'layouts/footer' %>

  </body> 
</html>
