<!DOCTYPE html>
  <html>
  <head>
    <title>WdiProject4</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- This should always stay here -->
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- ------------------------------------------------------------------ -->

<!-- fusion chart -->

 <script type="text/javascript">
    // google.load('visualization', '1.1', {packages: ['motionchart']});
    // function drawVisualization() {
    //   var queryText = encodeURIComponent("SELECT Year, Austria, Bulgaria, Denmark, Greece FROM 18k8XNgsc5ktLP2EHMCpoKIwymsVlzVV-xVuceA");
    //   google.visualization.drawChart({
    //     "containerId": "visualization_div",
    //     "dataSourceUrl": 'https://www.google.com/fusiontables/gvizdata?tq=',
    //     "query":"select 'name', 'season', 'team', 'pos', 'passing_att', 'passing_cmp', 'passing_ints', 'passing_yds', 'passing_tds' from 1vmUJcm_ge6dDKpoLG_i43RvVHAf5kdeAHj4FkLt2 where pos = 'QB'  AND passing_att >= 0 limit 500",
    //     "refreshInterval": 0,
    //     "chartType": "MotionChart",
    //     "options": {
    //       "width": 800,
    //       "height": 400,
    //       "showHeader": true  
    //     }
    //   });
    // }

    // google.setOnLoadCallback(drawVisualization);
  </script>
  </head>

  <body>

    <%= render 'layouts/nav' %> 

    <div ng-app="fffApp">
    <div ng-controller="fff">

    <!-- <div class="container-fluid"> -->
    <!-- sidebar -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="localhost:3000/home">Overview</a></li>
            <li><a href="localhost:3000/players">Reports</a></li>
            <li><a href="#">Quarterback</a></li>
            <li><a href="#">Running Back</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Wide Receiver</a></li>
            <li><a href="">Tight End</a></li>
            <li><a href="">Defense / Special Teams</a></li>
            <li><a href="">Kicker</a></li>  
          </ul>
          <ul class="nav nav-sidebar">
          </ul> <!-- end of sidebar -->
        </div>
        <div class="col-md-10">
<!--           <div id="visualization" style="width: 500px; height: 400px;"></div>
          <br/>
          <div id="chart_div" style="width: 1000px; height: 500px;"></div>
          <br/> -->
          <!--div id="visualization_div" style="width: 1000px; height: 1000px;"></div-->
<!--           <br/>
          <div id="visualization2"></div> -->
        </div>  
    </div> <!-- end of row -->
  </div> <!-- End of container -->
    <%= yield %>

    <%= render 'layouts/footer' %>

  </body> 
</html>
